    <div class="breadcrumb-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="breadcrumb-title">Dịch vụ</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><%= link_to 'Trang chủ', root_path %></li>
                        <li class="breadcrumb-item"><%= link_to 'Dịch vụ', services_path %></li>
                        <li class="breadcrumb-item active"><a><%= @service.name %></a></li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <!-- content-wraper start -->
     <div class="content-wraper section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 order-2 order-lg-2">
                        <!-- shop-sidebar-wrap start -->
                        <div class="blog-sidebar-wrap">

                            <div class="blog-sidebar mb--30">
                                <h4 class="title">Các dịch vụ khác</h4>
                                <ul>
                                    <% @services.each do |service| %>
                                        <li>
                                            <%= link_to service.name, service_path(service.slug) %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                            <!-- shop-sidebar end -->

                            <!-- shop-sidebar start -->
                            <div class="blog-sidebar">
                                <h4 class="title">HOT TAG</h4>
                                <div class="sidebar-tag">
                                    <%= link_to 'sửa chữa điện lạnh' %>
                                    <%= link_to 'điều hòa' %>
                                    <%= link_to 'tủ lạnh' %>
                                    <%= link_to 'máy giặt' %>
                                </div>
                            </div>
                            <div class="blog-sidebar">
                                <h4 class="title">CHIA SẺ BÀI VIẾT</h4>
                                <div class="sidebar-tag">
                                    <iframe src="https://www.facebook.com/plugins/share_button.php?href=<%= service_url(@service.slug) %>&layout=button_count&size=small&width=119&height=20" width="119" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                                </div>
                            </div>
                            <!-- shop-sidebar end -->
                        </div>
                        <!-- shop-sidebar-wrap end -->
                    </div>
                    <div class="col-lg-9 order-1 order-lg-1">
                        <!-- blog-details-wrapper start -->
                        <div class="blog-details-wrapper">
                            <div class="blog-details-image">
                                <img src="assets/images/blog/blog-details.png" alt="">
                            </div>
                            <div class="postinfo-wrapper">
                                <div class="post-info">
                                   <%= raw @service&.content %>
                                </div>
                            </div>
                        </div>
                        <!-- blog-details-wrapper end -->
                    </div>
                </div>
            </div>
        </div>