
    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="breadcrumb-title">Danh sách bài viết</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><%= link_to 'Trang chủ', root_path %></li>
                        <li class="breadcrumb-item active">Bài viết</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <div class="content-wraper section-ptb">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 order-1 order-lg-1">
                    <div class="blog-page-wrap">
                        <div class="row">
                            <% @blogs.each do |blog| %>
                                <div class="col-lg-4">
                                    <!-- single-letest-blog Start -->
                                    <div class="single-letest-blog mb--30">
                                        <div class="blog-image">
                                            <%= link_to blog_path(blog.slug) do %>
                                                <%= image_tag(blog.image, alt: 'dien lanh long an') if blog.image.attached? %>
                                            <% end %>
                                        </div>
                                        <div class="blog-content">
                                            <div class="post-mata">
                                                <ul>
                                                    <li><%= format_date(blog.created_at) %></li>
                                                </ul>
                                            </div>
                                            <h3><%= link_to truncate(blog.title, length: 50, separator: ' '), blog_path(blog.slug) %></h3>
                                            <p><%= truncate(blog.description, length: 50, separator: ' ') %></p>
                                        </div>
                                    </div>
                                    <!-- single-letest-blog End -->
                                </div>
                            <% end %>
                        </div>
                        <div class="paginatoin-area">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <%= paginate @blogs, theme: 'twitter-bootstrap-3' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #337ab7;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination > li.active > a {
    background-color: orange !important;
    border-color: orange !important;
}
</style>