
<div id="page-wrapper">
    <div class="graphs">
        <div class="col_3">
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-thumbs-up icon-rounded"></i>
                    <div class="stats">
                        <h5><strong><%= @blogs.count %></strong></h5>
                        <span>Số lượng bài viết </span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-users user1 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong><%= @users.count %></strong></h5>
                        <span>Số lượng admin</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget widget1">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-comment user2 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong><%= @messages.count %></strong></h5>
                        <span>Số tin nhắn chưa đọc</span>
                    </div>
                </div>
            </div>
            <div class="col-md-3 widget">
                <div class="r3_counter_box">
                    <i class="pull-left fa fa-dollar dollar1 icon-rounded"></i>
                    <div class="stats">
                        <h5><strong><%= @services.count %></strong></h5>
                        <span>Số lượng dịch vụ</span>
                    </div>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <%= render 'layouts/admin/footer' %>
    </div>
</div>
