<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <%= link_to 'Dashboard', admins_root_path, class: 'navbar-brand' %>
</div>
<!-- /.navbar-header -->
<ul class="nav navbar-nav navbar-right">
<!--     <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-comments-o"></i><span class="badge"><%= @messages.count %></span></a>
        <ul class="dropdown-menu">
            <li class="dropdown-menu-header">
                <strong>Tin nhắn</strong>
            </li>
            <% @messages.each do |msg| %>
                <li class="avatar">
                    <a href="#">
                        <%= image_tag('admins/1.png', alt: 'dien lanh long an') %>
                        <div>New message</div>
                        <small>1 minute ago</small>
                        <span class="label label-info">NEW</span>
                    </a>
                </li>
            <% end %>
            <li class="dropdown-menu-footer text-center">
                <a href="#">View all messages</a>
            </li>
        </ul>
    </li> -->
    <li class="dropdown">
        <%= link_to admins_user_path(current_user.slug), class: 'dropdown-toggle avatar', data: { toggle: 'dropdown'} do %>
            <% if current_user.avatar.attached? %>
                <%= image_tag(current_user.avatar, alt: 'dien lanh long an') %>
            <% else %>
                <%= image_tag('admins/1.png', alt: 'dien lanh long an') %>
            <% end %>
        <% end %>

        <ul class="dropdown-menu">
            <li class="dropdown-menu-header text-center">
                <strong>Cài đặt</strong>
            </li>
            <li class="m_2"><%= link_to admins_user_path(current_user.slug) do %>
                <i class="fa fa-user"></i>Thông tin cá nhân
                <% end %>
            </li>
            <li class="m_2"><%= link_to edit_admins_user_path(current_user.slug) do %>
                <i class="fa fa-wrench"></i>Chỉnh sửa
                <% end %>
            </li>
            <li class="m_2"><%= link_to destroy_user_session_path, method: 'DELETE' do %>
                <i class="fa fa-lock"></i>Đăng xuất
                <% end %>
            </li>
        </ul>
    </li>
</ul>
