
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
            <li>
                <%= link_to admins_users_path do %>
                    <i class='fa fa-users fa-fw nav_icon'></i>
                     Quản lý admin
                <% end %>
            </li>
            <li>
                <%= link_to admins_services_path do %>
                    <i class='fa fa-dashboard fa-fw nav_icon'></i>
                    Quản lý dịch vụ
                <% end %>
            </li>
            <li>
                <%= link_to admins_messages_path do %>
                    <i class="fa fa-comments fa-fw nav_icon"></i>
                    Tin nhắn
                <% end %>
            </li>
            <li>
                <%= link_to admins_blogs_path do %>
                    <i class="fa fa-rss-square nav_icon"></i>
                    Bài viết
                <% end %>
            </li>
        </ul>
    </div>
</div>