
<!-- header-area end -->

<!-- breadcrumb-area start -->
<div class="breadcrumb-area section-ptb">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="breadcrumb-title">Liên hệ với chúng tôi</h2>
                <!-- breadcrumb-list start -->
                <ul class="breadcrumb-list">
                    <li class="breadcrumb-item"><%= link_to 'Trang chủ', root_path, title: 'trang chủ' %></li>
                    <li class="breadcrumb-item active">Liên hệ</li>
                </ul>
                <!-- breadcrumb-list end -->
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-area end -->

<div class="contact-page-map">
    <!-- Google Map Start -->
    <div class="container-fluid p-0">
        <div id="map">
                   <iframe src="http://maps.google.com/maps?q=10.561709, 106.356419&z=15&output=embed" width="100%" height="100%" frameborder="0" style="border:0"></iframe>

        </div>
    </div>
    <!-- Google Map End -->
</div>

<div class="contact-us-area box-contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="contact-us-inner">
                    <div class="row">
                        <div class="col-lg-8">
                            <!-- Contact-form-area Start -->
                            <div class="contact-form-area">
                                <h3>Gửi Tin Nhắn</h3>
                                <div class="notification_message"></div>
                                <!-- contact-form-warp Start -->
                                <div class="contact-form-warp">
                                    <form id="contact-form" method="post">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-box">
                                                    <input type="text" name="name" placeholder="Tên *" required="true">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-box">
                                                    <input type="email" name="email" placeholder="Địa chỉ Email *" required="true">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-box">
                                                    <input type="text" name="address" placeholder="Địa chỉ ">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="input-box">
                                                    <input type="text" name="phone" placeholder="Số điện thoại *" required="true">
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="input-box">
                                                    <textarea name="content" required="true" placeholder="Nội dung"\ *"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-submit-btn">
                                            <button type="submit" class="submit-btn default-btn">Gửi</button>
                                            <p class="form-messege"></p>
                                        </div>
                                    </form>
                                </div>
                                <!-- contact-form-warp End -->
                            </div>
                            <!-- Contact-form-area End -->
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $('#contact-form').submit(function(e){
        e.preventDefault();
        var content = $("#contact-form").serialize();
        $.ajax({
          url: '/tin-nhan',
          type: 'POST',
          dataType: "JSON",
          data: {
            content,
            authenticity_token: $('meta[name="csrf-token"]').attr('content')
          },
          success: function (data) {
            $('#contact-form')[0].reset()
            var message = 'Yêu cầu đã được gửi.'
            $(".notification_message").text(message)
            $(".notification_message").css('color', 'green')
            setTimeout(function(){ $(".notification_message").text('') }, 3000);
          },
          error: function(data) {
            var message = 'Thông tin chưa được gửi. Vui lòng kiểm tra lại nội dung'
            $(".notification_message").text(message)
            $(".notification_message").css('color', 'red')
            setTimeout(function(){ $(".notification_message").text('') }, 3000);
          }
        })
    })

</script>