
<!-- Hero Slider start -->
<div class="hero-slider hero-slider-1">
    <div class="single-slide overly-bg-black" style="background-image: url(<%= asset_path('slider/slide-bg-2.jpg') %>)">
        <!-- Hero Content One Start -->
        <div class="hero-content-one container">
            <div class="row">
                <div class="col-lg-12 ">
                    <div class="slider-text-info">
                        <h1>Sửa chữa bảo trì điện lạnh<br>Máy lạnh - Tủ lạnh - Máy giặt</h1>
                        <p>Dịch vụ chất lượng - Uy tín - Chuyên nghiệp </p>
                        <!-- <div class="slider-button">
                            <a href="#" class="default-btn border-radius">About More</a>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero Content One End -->
    </div>
</div>
<!-- Hero Slider end -->

<!-- Our Service Area Start -->
<div class="our-service-area bg-grey section-pt section-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>CHÀO MỪNG ĐẾN VỚI CHÚNG TÔI</h4>
                    <h2>Vì sao chọn chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="row service-slider-active">
            <div class="col-lg-4 col-md-6">
                <!-- single-service Start -->
                <div class="single-service mt--30 mb--30">
                    <div class="service-image">
                        <%= image_tag('service/01.jpg', alt: 'dien lanh long an') %>
                    </div>
                    <div class="service-content text-center">
                        <h3>Sửa chữa</h3>
                        <p>Ngoài việc luôn giữ chữ tín với khách hàng , cơ sở chúng tôi cam đoan rằng  sẽ mang lại những sản phẩm  tốt nhất cho...</p>
                    </div>
                </div>
                <!-- single-service End -->
            </div>
            <div class="col-lg-4  col-md-6">
                <!-- single-service Start -->
                <div class="single-service mt--30 mb--30">
                    <div class="service-image">
                        <%= image_tag('service/02.jpg', alt: 'dien lanh long an') %>
                    </div>
                    <div class="service-content text-center">
                        <h3>Uy tín hàng đầu</h3>
                        <p>Để có được sự tín nhiệm của mọi người  cơ sở chúng tôi luôn  luôn đăt uy tín và chất lượng lên hàng đầu ! </p>
                    </div>
                </div>
                <!-- single-service End -->
            </div>
            <div class="col-lg-4  col-md-6">
                <!-- single-service Start -->
                <div class="single-service mt--30 mb--30">
                    <div class="service-image">
                        <%= image_tag('service/03.jpg', alt: 'dien lanh long an') %>
                    </div>
                    <div class="service-content text-center">
                        <h3>Nhanh chóng</h3>
                        <p>Các dịch vụ khi khách hàng cần chúng tôi đáp ứng nhanh chóng. Và tư vấn nhiệt tình</p>
                    </div>
                </div>
                <!-- single-service End -->
            </div>
            <div class="col-lg-4  col-md-6 mb--30">
                <!-- single-service Start -->
                <div class="single-service mt--30">
                    <div class="service-image">
                        <%= image_tag('service/04.jpg', alt: 'dien lanh long an') %>
                    </div>
                    <div class="service-content text-center">
                        <h3>Chất lượng</h3>
                        <p>Chất lượng sản phẩm dịch vụ được hình thành trong quá sử dụng, phản hồi đánh giá từ khách hàng.</p>
                    </div>
                </div>
                <!-- single-service End -->
            </div>
        </div>
    </div>
</div>
<!-- Our Service Area End -->

<!-- Repair-make-area Start -->
<div class="repair-make-area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-6">
                <div class="repair-service-inner">
                    <h3>Đội ngũ chúng tôi</h3>
                    <p>Kỹ thuật viên tay nghề cao, làm việc chuyên nghiệp, sửa chữa triệt để các hư hỏng phức tạp trên máy giặt, máy lạnh, tủ lạnh và các thiết bị điện lạnh khác... .</p>
                    <p>Chẩn đoán đúng bệnh, báo đúng giá theo quy định của công ty .</p>
                    <p>Luôn sử dụng các linh kiện chính hãng để thay thế . </p>
                    <p>Luôn có mặt đúng giờ đã hẹn với khách hàng .</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="repair-image pt--30">
                    <%= image_tag('banner/banner-01.png', alt: 'dien lanh long an') %>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Repair-make-area End -->

<!-- Project-count-inner End -->

<!-- Your-opinion-area Start  -->
<div class="your-opinion-area overly-bg-black opinion-bg section-ptb" style="background-image: url(<%= asset_path('bg/01.jpg')%>); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ml-auto mr-auto">
                <div class="your-opinion-wrap">
                    <h2>Liên hệ với chúng tôi</h2>
                    <div class="opinion-content-inner">
                        <form id="contact-form" method="post">
                            <div class="row">
                                <div class=" col-lg-6 col-md-6">
                                    <div class="input-box">
                                        <input type="text" name="name" placeholder="Tên *" class= "form-control" required="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-box">
                                        <input type="email" name="email" placeholder="Email *" class= 'form-control' required="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-box">
                                        <input type="text" name="address" placeholder="Địa chỉ *" class= 'form-control' required="true">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="input-box">
                                        <input type="text" name="phone" placeholder="Số điện thoại *" class= 'form-control' required="true">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <textarea  name="content" placeholder="Nội dung *" class= 'form-control' required="true"></textarea>
                                </div>
                                <div class="col-12">
                                    <div class="submit-box text-center">
                                        <button class="default-btn border-radius" type="submit">Gửi</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Your-opinion-area End  -->

<!-- FAQ area Start -->
<div class="faq-area bg-grey section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>Các vấn đề thường gặp</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <!-- single-faq Start -->
                <div class="single-faq text-center">
                    <div class="title-content">
                        <h4>Máy giặt</h4>
                        <i class="icofont-star"></i>
                    </div>
                    <p>Máy giặt không vô điện, mất nguồn </p>
                    <p>Máy giặt không bấm khởi động được </p>
                    <p>Máy giặt không vô nước </p>
                    <p>Máy giặt không xả nước </p>
                    <p>Máy giặt không vắt được </p>
                    <p>Máy giặt không kêu to, vắt không khô đồ </p>
                    <p>Máy giặt không báo lỗi, chớp đèn liên tục </p>
                    <p>Máy giặt chân rung </p>
                    <p>Máy giặt quần áo không sạch</p>
                    <p>......</p>
                </div>
                <!-- single-faq Start -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- single-faq Start -->
                <div class="single-faq text-center">
                    <div class="title-content">
                        <h4>Máy lạnh</h4>
                        <i class="icofont-star"></i>
                    </div>
                    <p>Máy bị thiếu gas, hết gas</p>
                    <p>Máy nén không chạy</p>
                    <p>Máy nén chạy ồn</p>
                    <p>Quá lạnh</p>
                    <p>Máy chạy liên tục nhưng không đủ lạnh</p>
                    <p>Áp suất hút thấp</p>
                    <p>Áp suất hút cao</p>
                    <p>Máy nén chạy và dừng liên tục do quá tải</p>
                    <p>Quạt dàn nóng không chạy.</p>
                    <p>.......</p>
                </div>
                <!-- single-faq Start -->
            </div>
            <div class="col-lg-4 col-md-6">
                <!-- single-faq Start -->
                <div class="single-faq text-center">
                    <div class="title-content">
                        <h4>Tủ lạnh</h4>
                        <i class="icofont-star"></i>
                    </div>
                        <p>Tủ lạnh phát ra tiếng ồn</p>
                        <p>Đèn tủ lạnh không sáng</p>
                        <p>Miếng đệm cửa không chặt</p>
                        <p>Tủ lạnh lâu đông </p>
                        <p>Thực phẩm ở ngăn dưới bị đông tuyết</p>
                        <p>Đáy tủ lạnh rò rỉ nước</p>
                        <p>Tủ lạnh giật tê khi chạm vào vỏ</p>
                        <p>Tủ lạnh có mùi hôi</p>
                        <p>Thực phẩm đông lạnh bị hỏng</p>
                        <p>.......</p>
                </div>
                <!-- single-faq Start -->
            </div>
        </div>
    </div>
</div>
<!-- FAQ area End -->

<!-- Something New Aera Start -->
<div class="something-new-area something-new-bg overly-bg-black section-ptb" style="background-image: url(<%= asset_path('bg/01.jpg')%>); background-size: cover;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="something-new-inner text-center text-white">
                    <h2>Hãy để chúng tôi chăm sóc cho bạn</h2>
                    <p>Mọi lo âu thắc mắc của bạn sẽ được chúng tôi giải đáp và giải quyết một cách triệt để.</p>
                    <p>Sự hài lòng của bạn chính là niềm hạnh phúc của chúng tôi.</p>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Something New Aera End -->

<!-- Latest News Area Start -->
<div class="latest-blog-news section-pt section-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h4>Bài viết mới nhất</h4>
                </div>
            </div>
        </div>
        <div class="row latest-blog-active">
            <% @blogs_latest.each do |blog| %>
                <div class="col-lg-4">
                    <!-- single-letest-blog Start -->
                    <div class="single-letest-blog mt--30 mb--30">
                        <div class="blog-image">
                            <%= link_to blog_path(blog.slug) do %>
                               <%= image_tag(blog.image, alt: 'dien lanh long an') if blog.image.attached? %>
                            <% end %>
                        </div>
                        <div class="blog-content">
                            <div class="post-mata">
                                <ul>
                                    <li><%= format_date(blog.created_at) %></li>
                                </ul>
                            </div>
                            <h3><%= link_to truncate(blog.title, length: 50, separator: ' '), blog_path(blog.slug)%></h3>
                            <%= truncate(blog.description, length: 50, separator: ' ') %>
                            <%= link_to 'XEM CHI TIẾT', blog_path(blog.slug), style: 'color: orange' %>
                        </div>
                    </div>
                    <!-- single-letest-blog End -->
                </div>
            <% end %>
        </div>
    </div>
</div>
<!-- Latest News Area End -->
<%= content_for :more_footer do %>
    <%= javascript_include_tag 'modernizr' %>
    <%= javascript_include_tag 'jquery_user' %>
    <%= javascript_include_tag 'popper.min' %>
    <%= javascript_include_tag 'bootstrap.min' %>
    <%= javascript_include_tag 'plugins' %>
    <%= javascript_include_tag 'ajax-mail' %>
    <%= javascript_include_tag 'main' %>
    <script>
    $('#contact-form').submit(function(e){
        e.preventDefault();
        var content = $("#contact-form").serialize();
        $.ajax({
          url: '/tin-nhan',
          type: 'POST',
          dataType: "JSON",
          data: {
            content,
            authenticity_token: $('meta[name="csrf-token"]').attr('content')
          },
          success: function (data) {
            $('#contact-form')[0].reset()
            var message = 'Yêu cầu đã được gửi.'
            $(".notification_message").text(message)
            $(".notification_message").css('color', 'green')
            setTimeout(function(){ $(".notification_message").text('') }, 3000);
          },
          error: function(data) {
            var message = 'Thông tin chưa được gửi. Vui lòng kiểm tra lại nội dung'
            $(".notification_message").text(message)
            $(".notification_message").css('color', 'red')
            setTimeout(function(){ $(".notification_message").text('') }, 3000);
          }
        })
    })

</script>
<% end %>

