    <div class="breadcrumb-area section-ptb">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="breadcrumb-title">Giới thiệu</h2>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><%= link_to 'Trang chủ', root_path, title: 'trang chủ' %></li>
                        <li class="breadcrumb-item active"><a>Giới thiệu</a></li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->

    <!-- content-wraper start -->
     <div class="content-wraper section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 order-1 order-lg-1">
                        <!-- blog-details-wrapper start -->
                        <div class="blog-details-wrapper">
                            <div class="blog-details-image">
                                <img src="assets/images/blog/blog-details.png" alt="">
                            </div>
                            <div class="postinfo-wrapper">
                                <div class="post-info">
                                    <p>Điện lạnh Nguyễn Trắng Long An chuyên bảo trì, bảo dưỡng, sửa chữa máy lạnh, tủ lạnh, máy giặt, và các thiết bị điện lạnh uy tín trên thị trường.  Với tay nghề cao, nhiều kinh nghiệm, cùng các trang thiết bị hiện đại luôn làm việc với tinh thần <span style="color: red">“ NHIỆT TÌNH – UY TÍN – CHUYÊN NGHIỆP “ </span> đảm bảo đem lại dịch vụ tốt nhất cho khách hàng.</p>
                                </div>
                                <h3 style="color: orange;">Các dịch vụ của chúng tôi</h3>
                                <ul style="list-style: circle; padding-left: 25px">
                                    <% @service.each do |service| %>
                                        <li><%= link_to service.name, service_path(service.slug) %></li>
                                    <% end %>
                                </ul>
                                <%= image_tag('service/sua-may-lanh-long-an.jpg', alt: 'dien lanh long an') %>
                                <div>Bằng tất cả sự chuyên nghiệp và tận tâm, Điện lạnh Nguyễn Trắng sẽ không ngừng nỗ lực để tạo ra giá trị thực cho khách hàng. Sự hài lòng của khách hàng chính là niềm vui và là động lực để chúng tôi tiếp tục nỗ lực, cố gắng.</div>
                            </div>
                        </div>
                        <!-- blog-details-wrapper end -->
                    </div>
                </div>
            </div>
        </div>