<%= form_for @user, :url => (@user.new_record? ? admins_users_url : admins_user_url(@user)), html: { class: 'form-horizontal'} do |f| %>
    <% if @user.errors.any? %>
        <ul class="alert.alert-danger">
            <% @user.errors.full_messages.uniq.each do |message| %>
                <div style="color: red">
                    <%= message %>
                </div>
            <% end %>
        </ul>
    <% end %>
    <div class="form-group">
        <label for="focusedinput" class="col-sm-2 control-label">Tên <span style="color: red">*</span></label>
        <div class="col-sm-8">
         <%= f.text_field :name, class: 'form-control1', id: 'focusedinput', placeholder: 'Tên' %>
        </div>
    </div>
    <div class="form-group">
        <label for="disabledinput" class="col-sm-2 control-label">Email <span style="color: red">*</span></label>
        <div class="col-sm-8">
            <%= f.text_field :email, class: 'form-control1', id: 'disabledinput', placeholder: 'Email' %>
        </div>
    </div>
    <div class="form-group">
        <label for="phone" class="col-sm-2 control-label">Số điện thoại</label>
        <div class="col-sm-8">
         <%= f.text_field :phone, class: 'form-control1', id: 'phone', placeholder: 'Số điện thoại' %>
        </div>
    </div>
    <div class="form-group">
        <label for="inputPassword" class="col-sm-2 control-label">Mật Khẩu</label>
        <div class="col-sm-8">
            <%= f.password_field :password, class: 'form-control1', id: 'inputPassword', placeholder: 'Mật khẩu' %>
        </div>
    </div>
    <div class="form-group">
        <label for="radio" class="col-sm-2 control-label">Giới tính</label>
        <div class="col-sm-8">
            <div class="radio-inline"><label>
                <%= f.radio_button :gender, true, checked: true  %>
                Nam
            </div>
            <div class="radio-inline"><label>
                <%= f.radio_button :gender, false %>
                Nữ
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="txtarea1" class="col-sm-2 control-label">Địa chỉ</label>
        <div class="col-sm-8">
            <%= f.text_area :address, class: 'form-control1', id: 'txtarea1', cols: "50", rows: "4" %>
        </div>
    </div>
    <div class="form-group">
        <label for="avatar" class="col-sm-2 control-label">Ảnh đại diện</label>
        <div class="col-sm-8">
            <%= f.file_field :avatar, class: 'form-control1', id: 'avatar'%>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
      <% if @user.id.present? %>
            <button type="submit" class="btn btn_5 btn-lg btn-primary">Cập nhật</button>
      <% else %>
            <button type="submit" class="btn btn_5 btn-lg btn-primary">Tạo</button>
      <% end %>
    </div>
<% end %>
