<div id="page-wrapper">
    <div class="col-md-12 graphs">
        <div class="xs">
            <h3>Danh sách người quản lý</h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <div>
                  <% flash.each do |type, msg| %>
                    <div class="alert alert-info">
                      <%= msg %>
                    </div>
                  <% end %>
                </div>
                <div>
                  <%=link_to new_admins_user_path, class: 'btn btn-primary pull-right' do %>
                    <i class="fa fa-plus-circle" aria-hidden="true">Thêm mới</i>
                  <% end %>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="10%">Tên</th>
                            <th width="20%">Email</th>
                            <th width="30%">Ngày Tạo</th>
                            <th width="25%">Hành động </th>
                        </tr>
                    </thead>
                    <tbody>
                      <% @users.each_with_index do |user, index| %>
                        <tr class="active">
                            <th scope="row"><%= user.id %></th>
                            <td><%= user.name %></td>
                            <td><%= user.email %></td>
                            <td><%= format_date(user.created_at) %></td>
                            <td>
                              <%= link_to edit_admins_user_path(user.slug), class: 'btn btn-xs btn-info' do %>
                                <i class="fa fa-pencil-square-o" aria-hidden="true">Chỉnh sửa</i>
                              <% end %>
                              <%= link_to admins_user_path(user.slug), class: 'btn btn-xs btn-warning warning_44' do %>
                                <i class="fa fa-eye" aria-hidden="true">Chi tiết</i>
                              <% end %>
                              <%= link_to admins_user_path(user.slug), method: :delete, data: { confirm: 'Bạn có muốn xóa?' }, class: 'btn btn-xs btn-success warning_4' do %>
                                <i class="fa fa-trash-o" aria-hidden="true">Xóa</i>
                              <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                </table>
            </div>
            <div>
                <%= paginate @users, theme: 'twitter-bootstrap-3' %>
            </div>
        </div>
        <%= render 'layouts/admin/footer' %>
    </div>
</div>
