<div id="page-wrapper">
    <div class="col-md-12 graphs">
        <div class="xs">
            <h3>Chi tiết người quản lý</h3>
            <div class="bs-example4" data-example-id="contextual-table">
              <div>Tên: <%= @user.name %></div>
              <div>Email: <%= @user.email %></div>
              <div>Địa chỉ: <%= @user.address %></div>
              <div>Giới Tính: <%= @user.gender == true ? 'Nam' : 'Nữ' %></div>
              <div>Ngày tạo: <%= format_date(@user.created_at) %></div>
            </div>
        </div>
        <%= render 'layouts/admin/footer' %>
    </div>
</div>
