<div id="notfound">
  <div class="notfound">
    <div class="notfound-bg">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1>oops!</h1>
    <h2>Error 500 : Server Errors</h2>
    <%= link_to 'Go Back', :back %>
  </div>
</div>
<%= content_for :more_header do %>
  <%= stylesheet_link_tag 'not_found' %>
<% end %>