<div id="notfound">
  <div class="notfound">
    <div class="notfound-bg">
      <div></div>
      <div></div>
      <div></div>
    </div>
    <h1>oops!</h1>
    <h2>Lỗi 404 : Không tìm thấy trang</h2>
    <%= link_to 'Quay trở lại', :back %>
  </div>
</div>
<%= stylesheet_link_tag 'not_found' %>