<footer class="footer-area">
    <div class="footer-top pt--50 pb--100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info mt--60">
                        <div class="logo">
                            <a href="#">
                                <%= image_tag('logo/logo-2.png', alt: 'dien lanh long an') %>
                            </a>
                        </div>
                        <p>Điện lạnh Nguyễn Trắng - Long An chuyên sửa chữa máy lạnh, điều hòa , tủ lạnh, uy tín chất lượng chuyên nghiệp</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-info  mt--60">
                        <div class="footer-title">
                            <h3>Từ khóa nổi bật</h3>
                        </div>
                        <ul class="footer-list">
                            <li>Sửa chữa điện lạnh</li>
                            <li>Sửa chữa tủ lạnh</li>
                            <li>Sửa chữa máy lạnh</li>
                            <li>Sửa chữa máy giặt</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="footer-info  mt--60">
                        <div class="footer-title">
                            <h3>Facebook</h3>
                        </div>
                        <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2F%25C4%2590i%25E1%25BB%2587n-l%25E1%25BA%25A1nh-Nguy%25E1%25BB%2585n-Tr%25E1%25BA%25AFng-101814951459021%2F%3Fmodal%3Dadmin_todo_tour&tabs=timeline&width=340&height=222&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId=638039330096614" width="340" height="222" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6">
                    <div class="footer-info  mt--60">
                        <div class="footer-title">
                            <h3>Liên hệ </h3>
                        </div>
                        <ul class="footer-list">
                            <li>Ấp 1, Mỹ Phú, Thủ Thừa, Long An</li>
                            <li>Số điện thoại: 0793750267 - 0944159707</li>
                            <li>Email: trangnguyen14041985@gmail.com </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-bottom-inner text-center">
                        <p>Copyright &copy;  2020 All Right Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

