    <!-- header-area start -->
    <div class="header-area">

        <!-- header-top start -->
        <div class="header-top pt--20 pb--20">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-3 col-12">
                        <!-- logo start -->
                        <div class="logo">
                            <%= link_to root_path do %>
                                <%= image_tag('logo/logo.png',alt: 'dien lanh long an', style: 'height: 85px; width: 200px') %>
                            <% end %>
                        </div>
                        <!-- logo End -->
                    </div>
                    <div class="col-lg-8 col-md-9 col-12">
                        <!-- Contact-information-top Start -->
                        <div class="contact-information-top">

                            <!-- Single-information-top Start -->
                            <div class="single-information-top">
                                <div class="info-icon">
                                    <i class="icofont-headphone-alt-2"></i>
                                </div>
                                <div class="info-content">
                                    <h4 class='abcdef'>Hotline</h4>
                                    <p>0793750267 - 0944159707</p>
                                </div>
                            </div>
                            <!-- Single-information-top End -->

                            <!-- Single-information-top Start -->
                            <div class="single-information-top">
                                <div class="info-icon">
                                    <i class="icofont-clock-time"></i>
                                </div>
                                <div class="info-content">
                                    <h4>Thứ 2 - Chủ Nhật</h4>
                                    <p>7.00 am - 5.00 pm</p>
                                </div>
                            </div>
                            <!-- Single-information-top End -->

                        </div>
                        <!-- Contact-information-top End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-top end -->
        <%= render 'layouts/user/menu' %>
    </div>
    <!-- header-area end -->