        <!-- header-bottom-area Start -->
        <div class="header-bottom-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header-menu-wrap border-top-1">
                            <!-- main-menu-area Start -->
                            <div class="main-menu">
                                <nav class="main-navigation">
                                    <ul>
                                        <li class="active"><%= link_to 'TRANG CHỦ', root_path %></li>
                                        <li><%= link_to 'GIỚI THIỆU', gioi_thieu_path %></li>
                                        <li><%= link_to 'DỊCH VỤ', services_path %>
                                            <ul class="sub-menu">
                                                <% @services.each do |service| %>
                                                    <li>
                                                        <%= link_to service.name, service_path(service.slug) %>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </li>
                                        <li><%= link_to 'BÀI VIẾT', blogs_path %>
                                            <ul class="sub-menu">
                                                <% @blogs.each do |blog| %>
                                                    <li>
                                                        <%= link_to blog.title, blog_path(blog.slug) %>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </li>
                                        <li><%= link_to 'LIÊN HỆ', lien_he_path %></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!-- mobile-menu start -->
                        <div class="mobile-menu d-block d-lg-none"></div>
                        <!-- mobile-menu end -->
                    </div>
                </div>
            </div>
        </div>
        <!-- header-bottom-area End -->