<%= form_for @service, :url => (@service.new_record? ? admins_services_url : admins_service_url(@service)), html: { class: 'form-horizontal'} do |f| %>
    <% if @service.errors.any? %>
        <ul class="alert.alert-danger">
            <% @service.errors.full_messages.uniq.each do |message| %>
                <div style="color: red">
                    <%= message %>
                </div>
            <% end %>
        </ul>
    <% end %>
    <div class="form-group">
        <label for="focusedinput" class="col-sm-2 control-label">Tên <span style="color: red">*</span></label>
        <div class="col-sm-8">
         <%= f.text_field :name, class: 'form-control1', id: 'focusedinput', placeholder: 'Tên' %>
        </div>
    </div>
    <div class="form-group">
        <label for="txtarea1" class="col-sm-2 control-label">Mô tả</label>
        <div class="col-sm-8">
            <%= f.text_area :description, class: 'form-control1', id: 'txtarea1', cols: "50", rows: "4" %>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Nội dung</label>
        <div class="col-sm-8">
            <%= f.cktext_area :content, class: 'form-control1 ckeditor', id: 'content', cols: 50, rows: 20,  ckeditor: { language: 'uk'} %>
        </div>
    </div>
    <div class="form-group">
        <label for="image" class="col-sm-2 control-label">Ảnh nền</label>
        <div class="col-sm-8">
            <%= f.file_field :image, class: 'form-control1', id: 'image'%>
        </div>
    </div>
    <div class="form-group">
        <label for="keywords" class="col-sm-2 control-label">Từ khóa</label>
        <div class="col-sm-8">
            <%= f.text_area :keywords, class: 'form-control1', id: 'keywords', placeholder: 'Từ khóa', style: 'height: 60px'%>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
      <% if @service.id.present? %>
            <button type="submit" class="btn btn_5 btn-lg btn-primary">Cập nhật</button>
      <% else %>
            <button type="submit" class="btn btn_5 btn-lg btn-primary">Tạo</button>
      <% end %>
    </div>
<% end %>
<%= javascript_include_tag Ckeditor.cdn_url %>
<script>

</script>