<div id="page-wrapper">
    <div class="col-md-12 graphs">
        <div class="xs">
            <h3>Danh sách Tin nhắn</h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <div>
                  <% flash.each do |type, msg| %>
                    <div class="alert alert-info">
                      <%= msg %>
                    </div>
                  <% end %>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="5%">Tên</th>
                            <th width="10%">Số điện thoại</th>
                            <th width="15%">Địa chỉ</th>
                            <th width="20%">Nội dung</th>
                            <th width="10%">Trạng thái</th>
                            <th width="20%">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @messages.each_with_index do |message, index| %>
                            <tr class="active">
                                <th scope="row"><%= message.id %></th>
                                <td><%= message.name %></td>
                                <td><%= message.email %></td>
                                <td><%= message.phone %></td>
                                <td><%= message.address %></td>
                                <td><%= message.content %></td>
                                <td>
                                  <% if message.seen? %>
                                    <div class="badge badge-primary">đã xem</div>
                                  <% else %>
                                    <div class="badge badge-danger">chưa xem</div>
                                  <% end %>
                                </td>
                                <td>
                                  <%= link_to admins_message_path(message.slug), class: 'btn btn-xs btn-warning warning_44' do %>
                                    <i class="fa fa-eye" aria-hidden="true">Chi tiết</i>
                                  <% end %>
                                  <%= link_to admins_message_path(message.slug), method: :delete, data: { confirm: 'Bạn có muốn xóa?' }, class: 'btn btn-xs btn-success warning_4' do %>
                                    <i class="fa fa-trash-o" aria-hidden="true">Xóa</i>
                                  <% end %>
                              </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div>
                <%= paginate @messages, theme: 'twitter-bootstrap-3' %>
            </div>
        </div>
        <%= render 'layouts/admin/footer' %>
    </div>
</div>
