<div id="page-wrapper">
    <div class="col-md-12 graphs">
        <div class="xs">
            <h3>Chi tiết tin nhắn</h3>
            <div class="bs-example4" data-example-id="contextual-table">
              <div>Tên: <%= @message.name %></div>
              <div>Email: <%= @message.email %></div>
              <div>Số điện thoại: <%= @message.phone %></div>
              <div>Địa chỉ: <%= @message.address %></div>
              <div>Nội dung: <%= @message.content %></div>
            </div>
        </div>
        <%= render 'layouts/admin/footer' %>
    </div>
</div>
