<%= form_for @blog, :url => (@blog.new_record? ? admins_blogs_url : admins_blog_url(@blog)), html: { class: 'form-horizontal'} do |f| %>
    <% if @blog.errors.any? %>
        <ul class="alert.alert-danger">
            <% @blog.errors.full_messages.uniq.each do |message| %>
                <div style="color: red">
                    <%= message %>
                </div>
            <% end %>
        </ul>
    <% end %>
    <div class="form-group">
        <label for="focusedinput" class="col-sm-2 control-label">Tiêu đề <span style="color: red">*</span></label>
        <div class="col-sm-8">
         <%= f.text_field :title, class: 'form-control1', id: 'focusedinput', placeholder: 'Tiêu đề' %>
        </div>
    </div>
    <div class="form-group">
        <label for="txtarea1" class="col-sm-2 control-label">Mô tả</label>
        <div class="col-sm-8">
            <%= f.text_area :description, class: 'form-control1', id: 'txtarea1', placeholder: 'Mô tả', style: 'height: 60px'%>
        </div>
    </div>
    <div class="form-group">
        <label for="content" class="col-sm-2 control-label">Nội dung</label>
        <div class="col-sm-8">
            <%= f.cktext_area :content, class: 'form-control1 ckeditor', height: 400, id: 'content',  ckeditor: { language: 'vi'} %>
        </div>
    </div>
    <div class="form-group">
        <label for="type" class="col-sm-2 control-label">Loại bài viết</label>
        <div class="col-sm-8">
            <%= f.select :kind, options_for_select(type_blogs, f.object.kind), {include_blank: 'Loại bài viết'}, required: true, title: "Vui lòng chọn loại bài viết", class: "form-control1" %>        </div>
    </div>
    <div class="form-group">
        <label for="image" class="col-sm-2 control-label">Ảnh nền</label>
        <div class="col-sm-8">
            <%= f.file_field :image, class: 'form-control1', id: 'image'%>
        </div>
    </div>
<!--     <div class="form-group">
        <label for="image" class="col-sm-2 control-label">Từ khóa</label>
        <div class="col-sm-8">
            <%= f.select :keywords, options_for_select({}, f.object.keywords), {}, class: 'js-example-tokenizer form-control1', multiple: true %>
        </div>
    </div> -->
    <div class="form-group">
        <label for="keywords" class="col-sm-2 control-label">Từ khóa</label>
        <div class="col-sm-8">
            <%= f.text_area :keywords, class: 'form-control1', id: 'keywords', placeholder: 'Từ khóa', style: 'height: 60px'%>
        </div>
    </div>
    <div class="form-group" style="text-align: center">
      <% if @blog.id.present? %>
            <button type="submit" class="btn btn_5 btn-lg btn-primary">Cập nhật</button>
      <% else %>
            <button type="submit" class="btn btn_5 btn-lg btn-primary">Tạo</button>
      <% end %>
    </div>
<% end %>
<%= javascript_include_tag Ckeditor.cdn_url %>

<!-- <script>
$(".js-example-tokenizer").select2({
    tags: true,
})
</script> -->
<style>
#cke_1_contents {
    height: 500px !important;
}
</style>