<div id="page-wrapper">
    <div class="col-md-12 graphs">
        <div class="xs">
            <h3>Danh sách bài viết</h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <div>
                  <% flash.each do |type, msg| %>
                    <div class="alert alert-info">
                      <%= msg %>
                    </div>
                  <% end %>
                </div>
                <div>
                  <%=link_to new_admins_blog_path, class: 'btn btn-primary pull-right' do %>
                    <i class="fa fa-plus-circle" aria-hidden="true">Thêm mới</i>
                  <% end %>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th width="5%">ID</th>
                            <th width="25%">Tiêu đề</th>
                            <th width="25%">Mô tả</th>
                            <th width="10%">Loại</th>
                            <th width="15%">Ngày Tạo</th>
                            <th width="20%">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @blogs.each_with_index do |blog, index| %>
                            <tr class="active">
                                <th scope="row"><%= blog.id %></th>
                                <td><%= blog.title %></td>
                                <td><%= truncate(blog.description, length: 50, separator: ' ') %></td>
                                <td><%= blog.kind %></td>
                                <td><%= format_date(blog.created_at) %></td>
                                <td>
                                  <%= link_to edit_admins_blog_path(blog.slug), class: 'btn btn-xs btn-info' do %>
                                    <i class="fa fa-pencil-square-o" aria-hidden="true">Chỉnh sửa</i>
                                  <% end %>
                                  <%= link_to admins_blog_path(blog.slug), class: 'btn btn-xs btn-warning warning_44' do %>
                                    <i class="fa fa-eye" aria-hidden="true">Chi tiết</i>
                                  <% end %>
                                  <%= link_to admins_blog_path(blog.slug), method: :delete, data: { confirm: 'Bạn có muốn xóa?' }, class: 'btn btn-xs btn-success warning_4' do %>
                                    <i class="fa fa-trash-o" aria-hidden="true">Xóa</i>
                                  <% end %>
                              </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
            <div>
                <%= paginate @blogs, theme: 'twitter-bootstrap-3' %>
            </div>
        </div>
        <%= render 'layouts/admin/footer' %>
    </div>
</div>
