<div id="page-wrapper">
    <div class="col-md-12 graphs">
        <div class="xs">
            <h3>Tạo bài viết</h3>
            <div class="bs-example4" data-example-id="contextual-table">
                <%= render 'form' %>
            </div>
        </div>
        <%= render 'layouts/admin/footer' %>
    </div>
</div>
