<div id="page-wrapper">
    <div class="col-md-12 graphs">
        <div class="xs">
            <h3>Chi tiết bài viết</h3>
            <div class="bs-example4" data-example-id="contextual-table">
              <div>Tên: <%= @blog.title %></div>
              <div>Mô tả: <%= @blog.description %></div>
              <div>Ngày tạo: <%= format_date(@blog.created_at) %></div>
              <div>Nội dung: <%= @blog.content.html_safe %></div>
            </div>
        </div>
        <%= render 'layouts/admin/footer' %>
    </div>
</div>
