<!DOCTYPE html>
<html lang="vi">
  <head>
    <title>dienlanhlongan.info</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon.png') %>">
    <%= stylesheet_pack_tag 'admins/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'admins/application', 'data-turbolinks-track': 'reload' %>
    <%= yield :more_header %>
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
 </head>

  <body>
    <div id="wrapper">
      <% if user_signed_in? %>
        <nav class="top1 navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
          <%= render 'layouts/admin/header' %>
          <%= render 'layouts/admin/menu' %>
        </nav>
        <% end %>
      <%= yield %>
    </div>
  </body>
</html>
