<!DOCTYPE html>
<html lang="vi">
  <head>
    <%= display_meta_tags site: 'dienlanhlongan.info' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <link rel="apple-touch-icon" href="<%= asset_path('apple-touch-icon.png') %>">
    <%= canonical_tag -%>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= yield :more_header %>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v6.0&appId=638039330096614&autoLogAppEvents=1">
    </script>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'layouts/user/header' %>
      <%= yield %>
      <%= render 'layouts/user/footer' %>
      <%= yield :more_footer %>
    </div>
  </body>
</html>
